ci:
  autoupdate_commit_msg: "ci(pre-commit): pre-commit autoupdate"
  skip: [pyright]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-yaml
        args:
          - --unsafe

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.1
    hooks:
      - id: ruff-check
        args: [--fix]
        exclude: ^tests/
      - id: ruff-format

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.405
    hooks:
      - id: pyright

  - repo: https://github.com/jsh9/pydoclint
    rev: 0.7.3
    hooks:
      - id: pydoclint
        args:
          - --style=numpy
          - --check-return-types=False
          - --check-class-attributes=False
          - --skip-checking-raises=True

  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
        stages: [commit-msg]
      - id: commitizen-branch
        stages: [pre-push]
